@use 'src/styles/vars';
.app{
  width: 100%;
  height: 100vh;
  background-color: vars.$main-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}